<header>
  <div class="navbar">
    <div class="container site__header">
      <a href="/"><h1>The Milkshake Cup</h1></a>
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>

  <nav>
    <div class="container">
      <ul>
        <li>
          <a href="/honours">
            <div>
              <h3>Honours Board</h3>
              <span>A definitive history of previous champions</span>
            </div>
            <img src="/assets/img/right-chevron.svg" alt="Right arrow">
          </a>
        </li>
        <li>
          <a href="/wgaguide">
            <div>
              <h3>Course Guide</h3>
              <span>Plot your way around the WGA course</span>
            </div>
            <img src="/assets/img/right-chevron.svg" alt="Right arrow">
          </a>
        </li>
        <li>
          <a href="/2020">
            <div>
              <h3>2020 Report</h3>
              <span>The socially distanced championship</span>
            </div>
            <img src="/assets/img/right-chevron.svg" alt="Right arrow">
          </a>
        </li>
        <li>
          <a href="/2019">
            <div>
              <h3>2019 Report</h3>
              <span>A tightly fought contest in glorious sunshine</span>
            </div>
            <img src="/assets/img/right-chevron.svg" alt="Right arrow">
          </a>
        </li>
        <!-- <li>
          <a href="/">
            <div>
              <h3>Portmore 2018 Recap</h3>
              <span>Last year's edition was the best yet</span>
            </div>
            <img src="./assets/img/right-chevron.svg" alt="Right arrow">
          </a>
        </li>
        <li>
          <a href="/">
            <div>
              <h3>Older History</h3>
              <span>The story of a prestigious trophy</span>
            </div>
            <img src="./assets/img/right-chevron.svg" alt="Right arrow">
          </a>
        </li> -->
      </ul>
      <img class="logo" src="/assets/img/trophy_white.svg" alt="Milkshake Cup Logo" />
    </div>
  </nav>

</header>
