<header class="site__header">
  <div class="container">
    <h1>The 2019 Milkshake Cup</h1>
    <button class="hamburger hamburger--spin" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <nav>
    <ul>
      <li><a>The 2019 Course Guide</a></li>
      <li><a>Portmore 2018 Recap</a></li>
      <li><a>Older History</a></li>
      <li><a>Something</a></li>
      <li><a>Something</a></li>
      <li><a>Something</a></li>
    </ul>
  </nav>
</header>
