// Reset spacing
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: $base-font-family;
  background-color: $background-grey;
}
.container {
  max-width: 650px;
  margin: 0px auto;
  padding: 0 10px;
  @include for-tablet-landscape-up {
    padding: 0;
  }
}
h1, h2, h3, h4 {
  font-family: $headings-font-family;
  color: $copy-colour;
  margin: 0;
  font-weight: normal;
}
h2 {
  margin-bottom: 1em;
}
h3 {
  font-size: 20px;
  margin-top: 2rem;
}
p, li {
  font-size: $base-font-size;
  line-height: 1.6;
  margin-bottom: 1em;
  color: $copy-colour;
}
blockquote {
  padding: 1rem;
  font-size: 1.125rem;
  border-left: 5px solid $highlight-color;
  color: #777;
  margin-bottom: 2rem;
  .quote-footer {
    padding-top: 10px;
    font-style: italic;
  }
}
a {
  text-decoration: none;
  color: $second-color;
}
ul, ol {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
img {
  max-width: 100%;
}
.caption {
  margin-top: -3px;
  background: $brand-color;
  color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
}
button {
  &:focus {
    outline: none;
  }
}
hr {
  margin: 2rem 0;
  border: 0;
  border-bottom: 1px solid #e7e7e7;
}
section {
  padding-bottom: 2rem;
}
.results-helper {
  @include for-big-phones-up {
    display: none;
  };
}
table {
  width: 100%;
  th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    &:nth-child(2) {
      padding-left: 5px;
    }
    &:nth-child(3), &:nth-child(5) {
      display: none;
      @include for-big-phones-up {
        display: table-cell;
      };
    }
    &:nth-child(4) {
      font-weight: bold;
    }
    &:nth-child(3), &:nth-child(4), &:nth-child(5) {
      text-align: center;
    }
  }
}
