footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.site-footer {
  border-top: 1px solid $brand-color;
  margin-top: 50px;
  background: #f8f8f8;
  padding: 50px 0;
  text-align: center;
  h4 {
    font-weight: bold;
  }
}
