.site__header {
  padding: 1rem 0;
  background: $brand-color;
  width: 100%;
  @include for-tablet-landscape-up {
    padding-left: 0;
    padding-right: 0;
  }
  h1 {
    color: #fff;
    font-size: 18px;
    @include for-tablet-landscape-up {
      font-size: 32px;
    };
  }
}
