.container {
  max-width: 650px;
  margin: 0px auto;
  padding: 0 10px;
  @include for-tablet-landscape-up {
    padding: 0;
  }
}
.champion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1.5rem;
  border-bottom: 3px solid $second-color;
  margin-bottom: 1.5rem;
  img {
    max-width: 90px;
    margin-right: 1rem;
    border-radius: 50%;
  }
  p {
    margin-bottom: 0;
  }
}
.dropcap {
  float: left;
  position: relative;
  top: 5px;
  padding: 7px 21px;
  margin-right: 5px;
  font-size: 2rem;
  font-weight: bold;
  background-color: $second-color;
  color: #fff;
}
.golfers {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include for-tablet-landscape-up {
    padding-left: 0;
    padding-right: 0;
  }
  .golfer {
    flex: 0 0 100%;
    margin-bottom: 1.33333rem;
    @include for-tablet-landscape-up {
      flex: 0 0 48%;
    }
    .golfer__photo {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
    .golfer__copy {
      margin-top: -3px;
      padding: 20px 10px 15px;
      background-color: rgb(242, 242, 242);
      text-align: center;
      h3 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 22px;
      }
      .hcp {
        font-family: $headings-font-family;
        margin: 5px 0 0;
        font-size: 14px;
        letter-spacing: 1px;
      }
      .golfer__country {
        display: flex;
        align-items: center;
        justify-content: center;
        .golfer__flag {
          max-width: 26px;
          margin-top: 1.5px;
          margin-right: 5px;
        }
        h4 {
          text-transform: uppercase;
          letter-spacing: 0.5px;
          font-size: 12px;
          color: #777;
        }
      }
    }
  }
}
