@charset "utf-8";

$base-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$headings-font-family: 'Literata', $base-font-family;
$base-font-size:   16px;
$base-font-weight: normal;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$brand-color:      rgb(26, 28, 60);
$second-color:     rgb(41, 131, 204);
$highlight-color:  #ffb500;
$highlight-hover:  #ffde8e;
$background-grey:  #f8f8f8;
$copy-colour:      rgba(0, 0, 0, 0.870588);

// Import partials.
@import
  "breakpoints",
  "base",
  "header",
  "footer",
  "layout"
;
