@charset "utf-8";

$base-font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
$headings-font-family: 'Literata', $base-font-family;
$base-font-size:   17px;
$base-font-weight: normal;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$brand-color:      rgb(26, 28, 60);
$second-color:     rgb(41, 131, 204);
$highlight-color:  #ffb500;
$highlight-hover:  #ffde8e;
$background-grey:  #f7f7f7;
$copy-colour:      rgba(0, 0, 0, 0.870588);

// Import partials.
@import
  "breakpoints",
  "base",
  "header",
  "footer",
  "index",
  "page"
;
